{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="{% static 'main/favicon/favicon.ico' %} " />
    <link rel="stylesheet" href="{% static 'main/css/style.bundle.css' %}" />
    
    <!-- Metatags -->


    <!-- /Metatages -->
    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <!-- /FontAwesome -->

    <!-- Google fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
   
    <!-- /Google fonts -->
    <!-- jQuery 1.8 or later, 33 KB -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- /jQuery 1.8 or later, 33 KB -->

    
    <title>{% block title %}Web Dev{% endblock %}</title>
    <!-- Добавление дополнительного статического CSS файла -->
  </head>

  <body>
    
  
  {% block content %} {% endblock %}
  
    <!-- footer -->

    
    
    <script src="{% static 'main/js/bundle.js' %} "></script>
    

  </body>
</html>
